.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*create a grid for the entire page*/
#app-container {
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;
}
/*specify map dimensions*/
#mapid {
  height: 180px;
  display: flex;
}

/*list of restaurants in column 1*/
#nav-bar-container {
  grid-column: 1;
}
/*map in middle*/
#map-container {
  grid-column: 2;
}
/*restaurant info to right*/
#restaurant-container {
  grid-column: 3;

}

header {
  text-align: center;
  background-color: #C0D9D9;
  color: #2F4F4F	
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  color: #2F4F4F;
  font-family : Avenir; 
}